<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <a href="javascript:void(0)" class="logo">
            <img src="assets/images/logo.png" alt="">
          </a>
          <ul class="nav">
            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
            <li class="scroll-to-section"><a href="#services">Services</a></li>
            <li class="scroll-to-section"><a href="#about">About</a></li>
            <li class="has-sub">
              <a href="javascript:void(0)">Pages</a>
              <ul class="sub-menu">
                <li><a href="javascript:void(0)">About Us</a></li>
                <li><a href="javascript:void(0)">Our Services</a></li>
                <li><a href="javascript:void(0)">Contact Us</a></li>
              </ul>
            </li>
            <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li>
            <li><a href="javascript:void(0)">Contact Support</a></li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="swiper-container" id="top">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide-inner" style="background-image:url(assets/images/slide-01.jpg)">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="header-text">
                <h2>Get <em>ready</em> for your business<br>&amp; upgrade <em>all aspects</em></h2>
                <div class="div-dec"></div>
                <p>Mexant HTML5 Template is provided for free of charge. This layout is based on Boostrap 5 CSS framework. Anyone can download and edit for any professional website. Thank you for visiting TemplateMo website.</p>
                <div class="buttons">
                  <div class="green-button">
                    <a href="#">Discover More</a>
                  </div>
                  <div class="orange-button">
                    <a href="#">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-inner" style="background-image:url(assets/images/slide-02.jpg)">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="header-text">
                  <h2><em>Digital</em> Currency for you <br>&amp; Best <em>Crypto</em> Tips</h2>
                  <div class="div-dec"></div>
                  <p>You will see a bunch of free CSS templates when you search on Google. TemplateMo website is probably the best one because it is 100% free. It does not ask you anything in return. You have a total freedom to use any template for any purpose.</p>
                  <div class="buttons">
                    <div class="green-button">
                      <a href="#">Discover More</a>
                    </div>
                    <div class="orange-button">
                      <a href="#">Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="slide-inner" style="background-image:url(assets/images/slide-03.jpg)">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="header-text">
                  <h2>Best One in Town<br>&amp; Crypto <em>Services</em></h2>
                  <div class="div-dec"></div>
                  <p>When you browse through different tags on TemplateMo website, you can see a variety of CSS templates which are responsive website designs for different individual needs. Please tell your friends about our website. Thank you.</p>
                  <div class="buttons">
                    <div class="green-button">
                      <a href="#">Discover More</a>
                    </div>
                    <div class="orange-button">
                      <a href="#">Contact Us</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div>

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="service-item">
          <i class="fas fa-archive"></i>
          <h4>CSS Templates</h4>
          <p>TemplateMo website is the best for you to explore and download free website templates.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item">
          <i class="fas fa-cloud"></i>
          <h4>HTML5 Web Pages</h4>
          <p>Templates are based on Bootstrap 5 CSS framework. You can easily adapt or modify based on your needs.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item">
          <i class="fas fa-charging-station"></i>
          <h4>Responsive Designs</h4>
          <p>All of our CSS templates are 100% free to use for commercial or business websites.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item">
          <i class="fas fa-suitcase"></i>
          <h4>Mobile and Tablet ready!</h4>
          <p>Our HTML CSS templates are well-tested on mobile, tablet, and desktop compatibility.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item">
          <i class="fas fa-archway"></i>
          <h4>Fast Customer Support</h4>
          <p>Do not be hesitated to contact us if you have any question or concern about our templates.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item">
          <i class="fas fa-puzzle-piece"></i>
          <h4>Fully Customizable</h4>
          <p>If you have any idea or suggestion about new templates, feel free to let us know.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simple-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h4>Business <em>Solutions</em> and <strong>Crypto</strong> Investments</h4>
      </div>
      <div class="col-lg-7">
        <div class="buttons">
          <div class="green-button">
            <a href="#">Discover More</a>
          </div>
          <div class="orange-button">
            <a href="#">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h6>About Us</h6>
          <h4>Know Us Better</h4>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="naccs">
          <div class="tabs">
            <div class="row">
              <div class="col-lg-12">
                <div class="menu">
                  <div class="active gradient-border"><span>Web Design</span></div>
                  <div class="gradient-border"><span>Graphics</span></div>
                  <div class="gradient-border"><span>Web Coding</span></div>
                </div>
              </div>
              <div class="col-lg-12">
                <ul class="nacc">
                  <li class="active">
                    <div>
                      <div class="main-list">
                        <span class="title">Project Title</span>
                        <span class="title">Budget</span>
                        <span class="title">Deadline</span>
                        <span class="title">Client</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">Website Redesign</span>
                        <span class="item">$1,500 to $2,200</span>
                        <span class="item">2022 Dec 12</span>
                        <span class="item">Web Biz</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">Website Renovation</span>
                        <span class="item">$2,500 to $3,600</span>
                        <span class="item">2022 Dec 10</span>
                        <span class="item">Online Ads</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">Marketing Plan</span>
                        <span class="item">$2,500 to $4,200</span>
                        <span class="item">2022 Dec 8</span>
                        <span class="item">Web Biz</span>
                      </div>
                      <div class="list-item last-item">
                        <span class="item item-title">All-new Website</span>
                        <span class="item">$3,000 to $6,600</span>
                        <span class="item">2022 Dec 2</span>
                        <span class="item">Web Presence</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div>
                      <div class="main-list">
                        <span class="title">Project Title</span>
                        <span class="title">Budget</span>
                        <span class="title">Deadline</span>
                        <span class="title">Client</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">Graphics Redesign</span>
                        <span class="item">$500 to $800</span>
                        <span class="item">2022 Nov 24</span>
                        <span class="item">Media One</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">Digital Graphics</span>
                        <span class="item">$1,500 to $3,000</span>
                        <span class="item">2022 Nov 18</span>
                        <span class="item">Second Media</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">New Artworks</span>
                        <span class="item">$2,200 to $4,400</span>
                        <span class="item">2022 Nov 10</span>
                        <span class="item">Artwork Push</span>
                      </div>
                      <div class="list-item last-item">
                        <span class="item item-title">Complex Arts</span>
                        <span class="item">$1,100 to $2,400</span>
                        <span class="item">2022 Nov 3</span>
                        <span class="item">Media One</span>
                      </div>
                  </li>
                  <li>
                    <div>
                      <div class="main-list">
                        <span class="title">Project Title</span>
                        <span class="title">Budget</span>
                        <span class="title">Estimated</span>
                        <span class="title">Technology</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">Backend Coding</span>
                        <span class="item">$2,000 to $5,000</span>
                        <span class="item">2022 Nov 28</span>
                        <span class="item">PHP MySQL</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">New Web App</span>
                        <span class="item">$1,500 to $3,000</span>
                        <span class="item">2022 Nov 18</span>
                        <span class="item">Python Programming</span>
                      </div>
                      <div class="list-item">
                        <span class="item item-title">Frontend Interactions</span>
                        <span class="item">$3,000 to $6,000</span>
                        <span class="item">2022 Nov 10</span>
                        <span class="item">JavaScripts</span>
                      </div>
                      <div class="list-item last-item">
                        <span class="item item-title">Video Creations</span>
                        <span class="item">$1,800 to $4,400</span>
                        <span class="item">2022 Nov 3</span>
                        <span class="item">Multimedia</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="right-content">
          <h4>Please tell us about your idea and how you want it to be</h4>
          <p>You are allowed to use this template for your websites. You are <b>NOT allowed</b> to redistribute the template ZIP file on any other template websites.<br><br>Thank you for downloading and using our templates. Please tell your friends about our website.</p>
          <div class="green-button">
            <a href="javascript:void(0)">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="calculator">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="h-100 d-flex flex-column justify-content-center">
          <div class="section-heading text-center mb-4">
            <h6>Únete a nosotros</h6>
            <h4>Crear Cuenta</h4>
          </div>
          <form (ngSubmit)="onRegister()" #regForm="ngForm" class="p-5 bg-white rounded-3 shadow-lg h-100">
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label fw-bold">Nombre</label>
                <input type="text" class="form-control form-control-lg" name="firstName" [(ngModel)]="registerData.firstName" required>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">Apellido</label>
                <input type="text" class="form-control form-control-lg" name="lastName" [(ngModel)]="registerData.lastName" required>
              </div>
              <div class="col-12">
                <label class="form-label fw-bold">Correo Electrónico</label>
                <input type="email" class="form-control form-control-lg" name="email" [(ngModel)]="registerData.email" required>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">Contraseña</label>
                <input type="password" class="form-control form-control-lg" name="password" [(ngModel)]="registerData.password" required>
              </div>
              <div class="col-md-6">
                <label class="form-label fw-bold">Confirmar</label>
                <input type="password" class="form-control form-control-lg" name="confirmPassword" [(ngModel)]="registerData.confirmPassword" required>
              </div>
              <div class="col-12">
                <label class="form-label fw-bold">Tipo de Usuario</label>
                <select name="role" [(ngModel)]="registerData.role" class="form-select form-select-lg">
                  <option value="normal">Normal</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              <div class="col-12 mt-4">
                <button type="submit" class="btn btn-primary w-100 py-3 fw-bold" style="background-color: var(--secondary-color); border: none;">Registrarse</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="h-100 d-flex flex-column justify-content-center">
          <div class="section-heading text-center mb-4">
            <h6>Bienvenido de nuevo</h6>
            <h4>Iniciar Sesión</h4>
          </div>
          <form (ngSubmit)="onLogin()" #loginForm="ngForm" class="p-5 bg-white rounded-3 shadow-lg h-100 d-flex flex-column justify-content-center">
            <div class="row g-4">
              <div class="col-12">
                <label class="form-label fw-bold">Correo Electrónico</label>
                <input type="email" class="form-control form-control-lg" name="email" [(ngModel)]="loginData.email" required>
              </div>
              <div class="col-12">
                <label class="form-label fw-bold">Contraseña</label>
                <input type="password" class="form-control form-control-lg" name="password" [(ngModel)]="loginData.password" required>
              </div>
              <div class="col-12 mt-4">
                <button type="submit" class="btn btn-success w-100 py-3 fw-bold" style="background-color: var(--primary-color); border: none;">Acceder</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimonials" id="testimonials" style="padding-top: 80px; padding-bottom: 80px; background-color: #f7f7f7;">
  <div class="container">
    
    <div class="row mb-5">
      <div class="col-lg-12 text-center mb-4">
        <div class="section-heading">
          <h6>Nuestra Galería</h6>
          <h4>Imágenes Destacadas</h4>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-carousel owl-theme owl-media custom-nav">
          
          <div class="item">
            <div class="media-card">
              <img src="https://blog.interfell.com/hubfs/como%20crear%20un%20equipo%20de%20trabajo%20fuerte%20y%20estable.jpg" alt="Ensalada Healthy">
              <div class="overlay"><i class="fa fa-search-plus"></i></div>
            </div>
          </div>
          <div class="item">
            <div class="media-card">
              <img src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?w=600&q=80" alt="Pizza Artesanal">
              <div class="overlay"><i class="fa fa-search-plus"></i></div>
            </div>
          </div>
          <div class="item">
            <div class="media-card">
              <img src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?w=600&q=80" alt="Desayuno Gourmet">
              <div class="overlay"><i class="fa fa-search-plus"></i></div>
            </div>
          </div>
          <div class="item">
            <div class="media-card">
              <img src="https://images.unsplash.com/photo-1484723091739-30a097e8f929?w=600&q=80" alt="Postre Francés">
              <div class="overlay"><i class="fa fa-search-plus"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <div class="section-heading">
          <h6>Multimedia</h6>
          <h4>Videos Recientes</h4>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-carousel owl-theme owl-media custom-nav">
          
          <div class="item">
            <div class="media-card video-card">
              <img src="https://images.unsplash.com/photo-1556910103-1c02745a30bf?w=600&q=80" alt="Chefs Cocinando">
              <div class="play-icon"><i class="fa fa-play-circle"></i></div>
              <div class="video-label">El secreto del Chef</div>
            </div>
          </div>
          <div class="item">
            <div class="media-card video-card">
              <img src="https://images.unsplash.com/photo-1507048331197-7d4ac70811cf?w=600&q=80" alt="Corte de Carne">
              <div class="play-icon"><i class="fa fa-play-circle"></i></div>
              <div class="video-label">Técnicas de Corte</div>
            </div>
          </div>
          <div class="item">
            <div class="media-card video-card">
              <img src="https://images.unsplash.com/photo-1514326640560-7d063ef2aed5?w=600&q=80" alt="Emplatado">
              <div class="play-icon"><i class="fa fa-play-circle"></i></div>
              <div class="video-label">Arte en el Plato</div>
            </div>
          </div>
           <div class="item">
            <div class="media-card video-card">
              <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?w=600&q=80" alt="Buffet">
              <div class="play-icon"><i class="fa fa-play-circle"></i></div>
              <div class="video-label">Evento Especial</div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>

<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2022 Mexant Co., Ltd. All Rights Reserved. 
        <br>Designed by <a title="CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
      </div>
    </div>
  </div>
</footer>